// Mixins for Variables
@mixin space-varieties {
  --op-space-3x-small: 4px;
  --op-space-2x-small: 8px;
  --op-space-x-small: 16px;
  --op-space-small: 24px;
  --op-space-medium: 32px;
  --op-space-large: 40px;
  --op-space-x-large: 48px;
  --op-space-2x-large: 56px;
  --op-space-3x-large: 80px;
  --op-space-4x-large: 160px;
}

@mixin color-varieties {
  --op-color-primary-h: 216deg;
  --op-color-primary-s: 58;
  --op-color-primary-l: 38;
}

// Theme
:root[data-theme="gabriel"] {
  @include space-varieties;
  @include color-varieties;

  select.form-control:not([multiple], [type=radio], [type=checkbox]) {
    padding: var(--op-space-3x-small);
    padding-right: var(--op-space-small);
    background-position-x: calc(100% - (var(--op-space-small) / 2 - var(--op-encoded-images-dropdown-arrow-width) / 2));
  }
}