.ransack-filter {
  display: flex;
  flex-direction: column;
  gap: var(--op-space-x-small);
}

.ransack-filter__actions {
  display: flex;
  justify-content: space-between;
}

.ransack-filter__buttons {
  display: flex;
  gap: var(--op-space-x-small);
}